@import "../../../styles/global.scss";

@include mq($until: tablet) {
  .box-login {
    width: 70%;
    margin: 5% auto;
    padding: 5% 5%;
    background-color: rgba(245, 237, 237, 0.349);
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
  }

  .title-login {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: -2px;
    text-align: center;
    padding-bottom: 30px;
  }

  .box-form {
    display: flex;
    flex-direction: column;

    & label {
      font-size: 1.3rem;
      color: aliceblue;
    }

    & input {
      font-size: 1rem;
      padding: 5px 15px;
    }

    & button {
      margin-top: 30px;
      height: 2.3rem;
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: bold;
      background-color: rgb(245, 237, 237);
      border: 1px solid DarkSlateGray;
      letter-spacing: 2px;
      color: darkslategray;
    }
  }

  .errorMessage {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    color: darkRed;
  }

  .forgot-login {
    padding: 10px 0px;
    font-weight: lighter;

    & a {
      text-decoration: none;
      color: gainsboro;
    }
    & .new-climber {
      float: right;
    }
  }
}

@include mq($from: tablet) {
  .login-background {
    background-image: url(../../../assets/images/login_background.jpg);
    height: 100%;
    width: 100%;
    z-index: $zBackground;
    opacity: 0.6;
    position: fixed;
    top: 0;
  }

  .box-login {
    width: 40%;
    margin: 5% auto;
    padding: 3% 8%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
  }

  .title-login {
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: -2px;
    text-align: center;
    padding-bottom: 30px;
  }

  .box-form {
    display: flex;
    flex-direction: column;

    & label {
      font-size: 1.3rem;
      color: slategray;
    }

    & input {
      font-size: 1.2rem;
      padding: 5px 15px;
      font-weight: 600;
      color: darkslategray;
    }

    & button {
      margin-top: 30px;
      height: 2.3rem;
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: bold;
      background: Cornsilk;
      border: 1px solid DarkSlateGray;
      letter-spacing: 2px;
      color: darkslategray;
    }

    & button:hover {
      cursor: pointer;
    }
  }

  .errorMessage {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    color: darkRed;
  }

  .forgot-login {
    padding: 10px 0px;
    font-weight: lighter;
    letter-spacing: 1px;

    & a {
      text-decoration: none;
      color: darkslategrey;
    }
    & :hover {
      font-weight: normal;
    }
    & .new-climber {
      float: right;
    }
  }
}
