@import "../../../styles/global.scss";

@include mq($until: tablet) {
  .fieldProvince {
    display: flex;
    flex-flow: column-reverse;
    margin-top: -50px;
  }

  .fieldProvince label,
  input {
    transition: all 0.3s;
    touch-action: manipulation;
  }

  .fieldProvince input[type="text"] {
    font-size: 1.8rem;
    padding: 0.3rem;
    text-transform: uppercase;
    border: 1px solid rgb(5, 25, 56);
    border-radius: 5px;
    opacity: 0.5;
    // background: #8bc1e2;
    width: 80%;
    margin: 0 auto;
    outline: none;
    text-align: center;
  }

  .fieldProvince label {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    // text-align: center;
    margin: 0 auto;
    font-weight: lighter;
  }

  .fieldProvince input:placeholder-shown + label {
    transform: translate(0, 2.125rem) scale(1.3);
    color: black;
  }

  .fieldProvince input:focus + label {
    transform: translate(0, 0) scale(1);
    // color: white;
    font-weight: normal;
  }

  ul.options {
    display: block;
    list-style: none;
    width: 80%;
    transition: width 0.3s;
    margin: 0 auto;
    position: relative;
    color: #2a3132;
    text-align: center;
  }

  ul.options li {
    background: #90afc5;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    border-radius: 2px;
    letter-spacing: 2px;
  }

  ul.options li.option-active {
    background: rgb(100, 152, 189);
    font-size: 1.1rem;
    font-weight: bold;
  }

  .no-options {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
  }
}
