@import "../../../styles/global.scss";

@include mq($until: tablet) {
  .message-new-climber {
    margin-top: 20px;
    text-align: center;
  }
}

@include mq($from: tablet) {
  .message-new-climber {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    color: darkblue;
  }
}