// Layout


// Colors
$background: rgb(40, 46, 134);
$footer: #271b5f;
$white: #ffffff;
$primary: #6F74E8;
$secondary: #788571;
$tertiary: #B3593B;
$gray100: #f8f9fa;
$gray300: #dee2e6;
$gray500: #ced4da;
$gray700: #868e96;
$gray900: #495057;
$font-color: #010b3b;
$font-dark: #222;
$font-light: #444;
$font-lighter: #888;
$border-color: rgba(0, 0, 0, 0.05);
$anchors-color: #05f;

// Weights
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 800;
$ultra: 900;

// ZIndexes
$zBackground: -1;
$zForeground: 1;
$zDropdown: 2;
$zNav: 3;
$zModal: 4;
