@font-face {
    font-family: 'OswaldRegular';
    src: url('./OswaldRegular.woff2') format('woff2'), url('./OswaldRegular.woff') format('woff'), url('./OswaldRegular.ttf') format('truetype');
    // font-weight: normal;
    font-style: normal;
  }