@import "../../../styles/global.scss";

@include mq($from: tablet) {
  .seeker {
    width: 60%;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 10%;

    & h1 {
      font-size: 2.5rem;
      font-weight: bold;
      color: rgb(255, 255, 255);
      text-align: left;
      margin-left: 15%;
      padding-bottom: 20px;
    }

    & .form-seeker {
      label {
        color: rgb(255, 255, 255);
      }
      select,
      label {
        font-size: 1rem;
        display: block;
        text-align: center;
      }

      .select-province {
        margin: 0 auto;
        padding: 8px;
        border-radius: 5px;

        &:focus {
          -webkit-box-shadow: 0px 0px 23px -3px rgb(189, 215, 255);
          -moz-box-shadow: 0px 0px 23px -3px rgb(189, 215, 255);
          box-shadow: 0px 0px 23px -3px rgb(189, 215, 255);
        }
      }
    }

    .box {
      position: relative;
    }

    .box:before {
      background-color: rgb(113, 118, 196);
      mix-blend-mode: multiply;
      z-index: -1;
      content: "";
      width: calc(100% + (50px * 2));
      height: calc(100% + (50px * 2));
      position: absolute;
      transform: translateX(-50px) translateY(-50px);
      clip-path: polygon(
        0 0,
        calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
        100% 100%,
        calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
      );
    }
  }
}
